@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, serif !important;
  font-weight: 700;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/*1 block*/

.main-container_1 {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: row;
  background-color: #bce5f9;
  background-image: url(../Images/backImage.png);
  background-repeat: no-repeat;
  background-position: right 200px bottom 0;
  background-size: auto 100%;
}

.left_block_up {
  position: relative;
  width: 21%;
}

.center_block_up {
  width: 58%;
  border: 1px solid black;
  border-bottom: 0;
}

.right_block_up {
  width: 21%;
}

.svgHamb_up {
  margin-right: 50px;
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
}

.center_block_text_up {
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 530px;
  padding-top: 200px;
  position: relative;
}

.center_text1_up {
  font-weight: 700;
  font-size: 20px;
}

.center_text2_up {
  font-weight: 700;
  font-size: 48px;
}

.center_text3_up {
  display: flex;
  flex-direction: row;
  font-weight: 700;
  font-size: 16px;
  margin-top: 40px;
}

.center_text3-1_up {
  background-color: #FFA501;
}

.center_text3-2_up {
  margin-left: 20px;
}

.center_text3-1_up,
.center_text3-2_up {
  line-height: 45px;
  width: 135px;
  text-align: center;
  color: black;
  text-decoration: none;
}

.circle {
  display: inline-block;
  width: 36px;
  height: 36px;
  background-color: #FFA501;
  border-radius: 50%;
  margin-bottom: -11px;
}

.center_text1_up_text {
  margin-left: -23px;
}

.left_block_up_content {
  display: flex;
  height: 100%;
  grid-gap: 10px;
  flex-direction: column-reverse;
  padding-left: 30px;
  justify-content: center;
}

.left_block_up_text {
  font-size: 16px;
  white-space: nowrap;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.left_block_up_lineVert {
  width: 0px;
  height: 60px;
  border: 1px solid black;
  margin-left: 8px;
}

.left_block_up_git,
.left_block_up_inst,
.left_block_up_faceb {
  width: 20px;
  height: 20px;
}

.left_block_up_git {
  background-image: url(../SVG/Github.svg);
}

.left_block_up_inst {
  background-image: url(../SVG/Instagram.svg);
}

.left_block_up_faceb {
  background-image: url(../SVG/Facebook.svg);
}


/*2 block*/

.main-container_2 {
  display: flex;
  flex-direction: column;
  margin-left: 21%;
  margin-right: 21%;
  padding-top: 100px;
  border: 1px solid black;
  border-top: 0;
  border-bottom: 0;
}

.top_block_middle {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.top_block_middle_text {
  width: 36px;
}

.top_text1 {
  margin-left: -6px;
  display: inline-block;
}

.top_text2 {
  font-size: 36px;
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.top_middle_line {
  width: 60px;
  border: 3px solid #FFA501;
  margin-top: 20px;
}

.circle_topMid {
  display: inline-block;
  width: 36px;
  height: 36px;
  background-color: #FFA501;
  border-radius: 50%;
  margin-bottom: -32px;
}

.down_block_middle {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.left_middle {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 40px;
}

.right_middle {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 40px;
}

.up_blockGrid_middle {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  margin-left: -7px;
}

.up_circle_middle {
  display: inline-block;
  height: 15px;
  background-color: #FFA501;
  border-radius: 50%;
  bottom: 0;
  position: absolute;
  width: 15px;
}

.up_text_middle {
  margin-left: 11%;
  font-size: 20px;
}

.border_left_middle {
  border-left: 1px solid black;
  height: 45px;
}

.blockText_middle {
  display: flex;
  flex-direction: row;
  border-left: 1px solid black;
}

.border_top_middle {
  width: 8%;
  border-top: 1px solid black;
  margin-top: 17px;
}

.blockTextFull_middle {
  width: 92%;
}

.upBlockFromText_middle {
  display: grid;
  grid-template-columns: 36px 1px 1fr;
}

.circle_middle {
  display: inline-block;
  height: 36px;
  background-color: #FFA501;
  border-radius: 50%;
}

.svg1_middle {
  width: 20px;
  height: 25px;
  background-image: url(../SVG/University.svg);
  margin-top: 15px;
  margin-left: -15px;
}

.svg2_middle {
  width: 25px;
  height: 23px;
  background-image: url(../SVG/Courses.svg);
  margin-top: 15px;
  margin-left: -19px;
}

.svg3_middle {
  width: 25px;
  height: 23px;
  background-image: url(../SVG/Developer.svg);
  margin-top: 15px;
  margin-left: -19px;
}

.svg4_middle {
  width: 25px;
  height: 23px;
  background-image: url(../SVG/designer.svg);
  margin-top: 15px;
  margin-left: -19px;
}

.textBlock1_middle {
  margin-left: 20px;
}

.up_text1_middle {
  font-size: 14px;
}

.down_text1_middle {
  font-size: 12px;
  font-weight: 500;
}

.down_text2_middle {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 500;
}

/*3 block*/
.main-container_3 {
  display: flex;
  flex-direction: row;
  margin-left: 21%;
  margin-right: 21%;
  padding-top: 100px;
  padding-bottom: 100px;
  border: 1px solid black;
  border-top: 0;
}

.left_block_down {
  width: 40%;
  background-image: url(../Images/Photo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right 0 bottom 0;
  margin-left: 30px;
  margin-right: 40px;
}

.right_block_down {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.text1_down {
  margin-left: -22px;
  font-size: 16px;
}

.text2_down {
  margin-top: 20px;
  font-size: 36px;
}

.border_down {
  margin-top: 20px;
  width: 60px;
  border: 2px solid #FFA501;
}

.svg_down {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.svg2_down,
.svg3_down {
  margin-left: 20px;
}

.svg1_down,
.svg2_down,
.svg3_down {
  display: flex;
  align-items: center;
}

.text3_down {
  margin-top: 20px;
  font-size: 14px;
}

/*form*/

.formFull {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.up_block_form {
  display: flex;
  flex-direction: row;
}

.first_name_form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 10px;
  min-width: 0;
}

.inp1_form {
  height: 45px;
}

.E-mail_form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 10px;
  min-width: 0;
}

.inp2_form {
  height: 45px;
}

.down_block_form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.textarea_form {
  height: 190px;
  resize: none;
}

.submit_form {
  width: 220px;
  margin-top: 20px;
  height: 45px;
  background-color: #FFA501;
  border: 0;
  font-size: 14px;
  font-weight: 700;
  font-family: Montserrat, serif;
}

.submit_form:hover {
  cursor: pointer;
}

label {
  z-index: 1;
  margin-left: 20px;
  text-align: center;
  background-color: white;
  font-weight: 500;
  font-size: 12px;
}

.label1_form {
  width: 78px;
}

.label2_form {
  width: 88px;
}

.label3_form {
  width: 126px;
}

input,
textarea {
  margin-top: -7px;
  padding-left: 20px;
  outline: none;
  font-size: 12px;
  font-weight: 500;
  font-family: Montserrat, serif;
}

textarea {
  padding-top: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}