@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, serif !important;
  font-weight: 700;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/*hamburger*/
.hamburger {
  display: none;
  height: 800px;
}

.svgHamb_close {
  display: flex;
  margin-top: 30px;
  margin-right: 30px;
  justify-content: flex-end;
}

.svgHamb_close:hover {
  cursor: pointer;
}

.hamburger_block {
  display: grid;
  grid-template-columns: 30px 190px;
  grid-template-rows: 40px 40px 40px 40px 40px 40px;
  align-items: center;
  font-size: 24px;
  margin-left: 40px;
  margin-top: 100px;
}

.hamburger_block a {
  text-decoration: none;
  color: white;
}

.circle_hm {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 50%;
}

.svgAll_hm {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 340px;
  justify-content: center;
}

.svg1_hm,
.svg2_hm,
.svg3_hm {
  width: 20px;
  height: 20px;
  transform: rotate(90deg);
}

.svg1_hm {
  background-image: url(../SVG/Github.svg);
}

.svg2_hm {
  background-image: url(../SVG/Instagram.svg);
}

.svg3_hm {
  background-image: url(../SVG/Facebook.svg);
}

/*1 block*/
.main-container_1 {
  width: 100%;
  min-height: 800px;
  display: flex;
  flex-direction: row;
  background-color: #bce5f9;
  background-image: url(../Images/backImage.png);
  background-repeat: no-repeat;
  background-position: right 200px bottom 0;
  background-size: auto 100%;
}

.right_block_up {
  width: 21%;
}

.svgHamb_up {
  margin-right: 50px;
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
}

.svgHamb_up svg:hover {
  cursor: pointer;
}

.center_block_text_up {
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 530px;
  padding-top: 200px;
  position: relative;
}

.center_text1_up {
  font-weight: 700;
  font-size: 20px;
}

.center_text2_up {
  font-weight: 700;
  font-size: 48px;
}

.center_text3_up {
  display: flex;
  flex-direction: row;
  font-weight: 700;
  font-size: 16px;
  margin-top: 40px;
}

.center_text3-1_up {
  background-color: #FFA501;
}

.center_text3-2_up {
  margin-left: 20px;
}

.center_text3-1_up,
.center_text3-2_up {
  line-height: 45px;
  width: 135px;
  text-align: center;
  color: black;
  text-decoration: none;
}

.circle {
  display: inline-block;
  width: 36px;
  height: 36px;
  background-color: #FFA501;
  border-radius: 50%;
  margin-bottom: -11px;
}

.center_text1_up_text {
  margin-left: -23px;
}

.left_block_up_text {
  font-size: 16px;
  white-space: nowrap;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.left_block_up_lineVert {
  width: 0px;
  height: 60px;
  border: 1px solid black;
  margin-left: 8px;
}

.left_block_up_git,
.left_block_up_inst,
.left_block_up_faceb {
  width: 20px;
  height: 20px;
}

.left_block_up_git {
  background-image: url(../SVG/Github.svg);
}

.left_block_up_inst {
  background-image: url(../SVG/Instagram.svg);
}

.left_block_up_faceb {
  background-image: url(../SVG/Facebook.svg);
}


/*2 block*/
.main-container_2 {
  display: flex;
  flex-direction: column;
  margin-left: 21%;
  margin-right: 21%;
  padding-top: 100px;
  border: 1px solid black;
  border-top: 0;
  border-bottom: 0;
}

.top_block_middle {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.top_block_middle_text {
  width: 36px;
}

.top_text1 {
  margin-left: -6px;
  display: inline-block;
}

.top_text2 {
  font-size: 36px;
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.top_middle_line {
  width: 60px;
  border: 3px solid #FFA501;
  margin-top: 20px;
}

.circle_topMid {
  display: inline-block;
  width: 36px;
  height: 36px;
  background-color: #FFA501;
  border-radius: 50%;
  margin-bottom: -32px;
}

.down_block_middle {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.left_middle {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 40px;
}

.right_middle {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 40px;
}

.up_blockGrid_middle {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  margin-left: -7px;
}

.up_circle_middle {
  display: inline-block;
  height: 15px;
  background-color: #FFA501;
  border-radius: 50%;
  bottom: 0;
  position: absolute;
  width: 15px;
}

.up_text_middle {
  margin-left: 11%;
  font-size: 20px;
}

.border_left_middle {
  border-left: 1px solid black;
  height: 45px;
}

.blockText_middle {
  display: flex;
  flex-direction: row;
  border-left: 1px solid black;
}

.border_top_middle {
  width: 8%;
  border-top: 1px solid black;
  margin-top: 17px;
}

.blockTextFull_middle {
  width: 92%;
}

.upBlockFromText_middle {
  display: grid;
  grid-template-columns: 36px 1px 1fr;
}

.circle_middle {
  display: inline-block;
  height: 36px;
  background-color: #FFA501;
  border-radius: 50%;
}

.svg1_middle {
  width: 20px;
  height: 25px;
  background-image: url(../SVG/University.svg);
  margin-top: 15px;
  margin-left: -15px;
}

.svg2_middle {
  width: 25px;
  height: 23px;
  background-image: url(../SVG/Courses.svg);
  margin-top: 15px;
  margin-left: -19px;
}

.svg3_middle {
  width: 25px;
  height: 23px;
  background-image: url(../SVG/Developer.svg);
  margin-top: 15px;
  margin-left: -19px;
}

.svg4_middle {
  width: 25px;
  height: 23px;
  background-image: url(../SVG/designer.svg);
  margin-top: 15px;
  margin-left: -19px;
}

.textBlock1_middle {
  margin-left: 20px;
}

.up_text1_middle {
  font-size: 14px;
}

.down_text1_middle {
  font-size: 12px;
  font-weight: 500;
}

.down_text2_middle {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 500;
}

/*3 block*/
.main-container_3 {
  display: flex;
  flex-direction: row;
  margin-left: 21%;
  margin-right: 21%;
  padding-top: 100px;
  padding-bottom: 100px;
  border: 1px solid black;
  border-top: 0;
}

.left_block_down {
  width: 40%;
  background-image: url(../Images/Photo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right 0 bottom 0;
  margin-left: 30px;
  margin-right: 40px;
}

.right_block_down {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.text1_down {
  margin-left: -22px;
  font-size: 16px;
}

.text2_down {
  margin-top: 20px;
  font-size: 36px;
}

.border_down {
  margin-top: 20px;
  width: 60px;
  border: 2px solid #FFA501;
}

.svg_down {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.svg2_down,
.svg3_down {
  margin-left: 20px;
}

.svg1_down,
.svg2_down,
.svg3_down {
  display: flex;
  align-items: center;
}

.text3_down {
  margin-top: 20px;
  font-size: 14px;
}

/*form*/
.formFull {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.up_block_form {
  display: flex;
  flex-direction: row;
}

.first_name_form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 10px;
  min-width: 0;
}

.inp1_form {
  height: 45px;
}

.E-mail_form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 10px;
  min-width: 0;
}

.inp2_form {
  height: 45px;
}

.down_block_form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.textarea_form {
  height: 190px;
  resize: none;
}

.submit_form {
  width: 220px;
  margin-top: 20px;
  height: 45px;
  background-color: #FFA501;
  border: 0;
  font-size: 14px;
  font-weight: 700;
  font-family: Montserrat, serif;
}

.submit_form:hover {
  cursor: pointer;
}

label {
  z-index: 1;
  margin-left: 20px;
  text-align: center;
  background-color: white;
  font-weight: 500;
  font-size: 12px;
}

.label1_form {
  width: 78px;
}

.label2_form {
  width: 88px;
}

.label3_form {
  width: 126px;
}

input,
textarea {
  margin-top: -7px;
  padding-left: 20px;
  outline: none;
  font-size: 12px;
  font-weight: 500;
  font-family: Montserrat, serif;
}

textarea {
  padding-top: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

b {
  font-size: 12px;
  font-weight: 500;
  color: red;
}

/*Mobile*/
@media all and (min-width: 1235px) {
  .left_block_up {
    position: relative;
    width: 21%;
  }

  .center_block_up {
    width: 58%;
    border: 1px solid black;
    border-bottom: 0;
  }
}

@media all and (max-width: 1235px) {
  .main-container_1 {
    background-position: right 0 bottom 0;
    background-size: auto 80%;
  }

  .left_block_up {
    position: relative;
    width: 200px;
  }

  .center_block_up {
    width: 58%;
    border: 0;
  }

  .left_block_down {
    display: none;
  }

  .right_block_down {
    width: 100% !important;
    margin-right: 40px !important;
    margin-left: 40px !important;
  }
}

@media all and (max-width: 820px) {
  .hamburger {
    height: 640px;
  }

  .svgAll_hm {
    margin-top: 200px;
  }

  .main-container_1 {
    min-height: 640px;
    background-image: url(../Images/BackgroundMob.png);
  }

  .left_block_up {
    width: 0;
  }

  .left_block_up_content {
    display: none;
  }

  .center_block_up {
    width: 85%;
    border: 0;
  }

  .right_block_up {
    width: 15%;
  }

  .svgHamb_up {
    margin-top: 20px;
    margin-right: 20px;
  }

  .center_block_text_up {
    width: 100%;
    margin-left: 20px;
  }

  .center_text1_up {
    font-size: 16px;
  }

  .center_text2_up {
    font-size: 26px;
    margin-top: 10px;
  }

  .main-container_2,
  .main-container_3 {
    margin-left: 0 !important;
    margin-right: 0 !important;
    border: 0 !important;
  }
}

@media all and (min-width: 821px) {
  .left_block_up_content {
    display: flex;
    height: 100%;
    grid-gap: 10px;
    flex-direction: column-reverse;
    padding-left: 30px;
    justify-content: center;
  }
}

@media all and (max-width: 540px) {
  .down_block_middle {
    flex-direction: column !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
  }

  .right_block_down {
    margin-right: 20px !important;
    margin-left: 20px !important;
  }

  .left_middle,
  .right_middle {
    width: 100% !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .right_middle {
    margin-top: 20px;
  }

  .first_name_form {
    width: 95% !important;
    margin-right: 5% !important;
  }

  .E-mail_form {
    width: 95% !important;
    margin-left: 5% !important;
  }

  input,
  textarea {
    padding-left: 0 !important;
  }

  .up_block_form {
    width: 100%;
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
  }
}